<div class="row align-items-md-stretch">
   <div class="col-md-4">
      <div class="h-100 p-5 bg-light border rounded-3">
         <h3>Upload your PDFs</h3>
         <p>Drag your PDFs into the dotted box to upload them to our secure server</p>
         <form method="post" action="#" id="#">
            <div class="form-group files">
               <label>Upload Your File </label>
               <input type="file" class="form-control" multiple="">
            </div>
         </form>
      </div>
   </div>
   <div class="col-md-4">
      <div class="h-100 p-5 bg-light border rounded-3">
         <h3>Sort your PDFs</h3>
         <p>Drag your PDFs to sort them in the order you like</p>
         <ul class="list-group">
            <li class="list-group-item">First.PDF</li>
            <li class="list-group-item">Second.PDF</li>
            <li class="list-group-item">Third.PDF</li>
         </ul>
      </div>
   </div>
   <div class="col-md-4">
      <div class="h-100 p-5 bg-light border rounded-3">
         <h2>Download your PDF</h2>
         <p>Download your merged PDFs by clicking the button below.</p>
         <button class="btn btn-outline-secondary" type="button">Download</button>
         <p></p>
         <p>That's it, you're done!</p>
      </div>
   </div>
</div>
